body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 20px;
    background-image:url(lib.jpg);
    background-size: cover; /* Cover the entire area of the main section */
   background-position: center top -1000px ; /* Center the background image */
     background-size: cover;
      background-repeat: no-repeat; /* Prevents the image from repeating */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

