
.hero {
    background: url('img/home.jpg') no-repeat center center/cover;
    margin-top: 20px;
    height: 500px;
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 60px;
    color: #f4f4f4;
    font-size: 100px;
  }
  
  .our-goal-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
  }
  
  .our-goal-section h2 {
    color: red;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .our-goal-section p {
    font-size: 1.3em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .our-goal-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .our-goal-images img {
    width: 500px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    margin: 30px;
  }
  
  .image-right {
    order: 2;
  }
  
  /* .text-container {
    max-width: 600px;
    margin: 0 auto;
  }
   */
  .last-news-update {
    background-color: #311a1a;
    padding: 40px 20px;
    text-align: center;
  }
  
  .last-news-update h2 {
    font-size: 2.5em;
    color: red;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .news-container {
    display: flex; 
      align-items: center; 
      justify-content: center; 
      flex-direction: raw;
    gap: 20px;
  }
  
  .news-item {
    background-color: #4b2222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    position: relative;
  }
  
  .news-item img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .news-date {
    background-color: #0000ff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1em;
  }
  
  .news-item p {
    margin: 10px 0 0 0;
    font-size: 1.2em;
    line-height: 1.6;
  }
  