body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
    align-items: center;
  }
  
  header .logo {
    display: flex;
    align-items: center;
  }
  
  header .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    font-size: 20px;
  }
  
  header nav ul li {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    color: #ff0000;
  }
  
  header #menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  footer {
    background-color: rgb(0, 0, 0);
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
  }
  
  footer p {
    margin: 0;
    flex: 1;
    text-align: left;
  }
  
  footer .top-button {
    flex: 1;
    text-align: center;
  }
  
  
  footer .top-button a {
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border: #fff solid 3px;
    border-radius: 5px;
    padding: 8px 20px;  
  }
  
  footer .top-button a:hover {
    background-color: white;
    color: #000000;
  }
  
  footer .social-icons {
    display: flex;
    gap: 20px;
    flex: 0;
    justify-content: flex-end;
  }
  
  footer .social-icons a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
  }
  
  footer .social-icons a:hover {
    color: #ff0000;
  }
 
.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #000; 
    padding: 5px; 
}
.footer-container::before,
.footer-container::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #fff;
    border-width: 3px; 
}
.footer-container::before {
    margin-right: 10px;
}
.footer-container::after {
    margin-left: 10px;
}

