body{
    background-image: url('img/signup.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.login-form {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    
}

.x{
    background-image: url('img/staff\ log.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}